{% load static %}
{% load i18n %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% trans 'Hakkımızda' %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% include 'main/partials/_libaries.html' %}
</head>

<body>

    {% include 'main/partials/_topbar.html' %}

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    {% include 'main/partials/_navbar.html' %}
    <!-- Navbar End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row gx-3 h-50">
                        <div class="col-6 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                            <img class="img-fluid" src="{% static 'img/hakkimizda1.jpg' %}">
                        </div>
                        <div class="col-6 align-self-end wow fadeInDown" data-wow-delay="0.1s">
                            <img class="img-fluid" src="{% static 'img/hakkimizda2.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="fw-medium text-uppercase text-primary mb-2">{% trans 'Hakkımızda' %}</p>
                    <h1 class="display-5 mb-4">{% trans 'Demac Markası: Yenilikçi ve Müşteri Memnuniyetine Verdiği Önemle Öne Çıkıyor.' %}</h1>
                    <p class="mb-2 text-primary">{% trans 'Yenilikçi ve müşteri memnuniyetini esas alan bir şirket politikasına sahip olan Demac Markası, yeni üretime başlayan düz örgü makineleri ile sektörde büyük bir fark yaratıyor. Kendisini sürekli olarak geliştiren ve yenilikçi çözümler sunan Demac, müşterilerinin ihtiyaçlarını anlamak ve onlara en iyi hizmeti sunmak adına sürekli olarak araştırma ve geliştirme faaliyetlerine ağırlık vermektedir.' %}</p>
                    <p class="mb-2 text-primary">{% trans 'Demac Markası, yenilikçilik ve teknolojik gelişmeleri yakından takip eden profesyonel bir ekibi bünyesinde barındırmaktadır. Bu sayede, sektördeki son trendleri belirleyen ve en güncel çözümleri sunan bir marka haline gelmiştir. Yaptığı araştırmalar ve müşteri geri bildirimleri doğrultusunda üretim süreçlerini sürekli olarak iyileştiren Demac, müşteri memnuniyetini en üst seviyede tutmaktadır.' %}</p>
                    <p class="mb-2 text-primary">{% trans 'Müşteri memnuniyetini esas alan bir şirket politikasına sahip olan Demac Markası, müşterilerinin ihtiyaçlarını karşılamak adına özelleştirilmiş çözümler sunmaktadır. Her müşteriye özel çözümler üretmek adına, müşteriyle yakın işbirliği içerisinde çalışan Demac, her adımda müşteri ihtiyaçlarını gözetmekte ve onlara en iyi hizmeti sunmaktadır.' %}</p>
                    <p class="mb-2 text-primary">{% trans 'Sadece ürünlerde değil, aynı zamanda satış sonrası hizmetlerde de müşteri memnuniyetini ön planda tutan Demac, yüksek kaliteli servis hizmetleriyle müşterilerinin yanında olmaktadır. Yetenekli ve deneyimli servis ekibiyle, her türlü teknik sorunu hızlı bir şekilde çözen Demac, müşterilerinin işlerini aksatmadan devam ettirmelerini sağlamaktadır.' %}</p>
                    <p class="mb-2 text-primary">{% trans 'Demac Markası, yenilikçi vizyonu ve müşteri memnuniyetine verdikleri önemle sektörde öncü bir konumda yer almaktadır. Sürekli olarak gelişme ve yenilik yapma misyonuyla hareket eden Demac, müşterilerine en iyi hizmeti sunmak adına çalışmalarını sürdürmektedir. Yenilikçi çözümleriyle sektöre yön veren Demac Markası, müşteri memnuniyetini her zaman en üst seviyede tutmayı hedeflemektedir.' %}</p>
                    <div class="d-flex align-items-center mb-4">
                        <div class="flex-shrink-0 bg-primary p-4">
                            <h1 class="display-2">30</h1>
                            <h5 class="text-white">{% trans 'Yıllık' %}</h5>
                            <h5 class="text-white">{% trans 'Deneyim' %}</h5>
                        </div>
                        <div class="ms-4">
                            <p class="text-primary"><i class="fa fa-check text-primary me-2"></i>Power & Energy</p>
                            <p class="text-primary"><i class="fa fa-check text-primary me-2"></i>Civil Engineering</p>
                            <p class="text-primary"><i class="fa fa-check text-primary me-2"></i>Chemical Engineering</p>
                            <p class="text-primary"><i class="fa fa-check text-primary me-2"></i>Mechanical Engineering</p>
                            <p class="mb-0 text-primary"><i class="fa fa-check text-primary me-2"></i>Oil & Gas Engineering</p>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-envelope-open text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-2 text-primary">{% trans 'Mail Gönderin' %}</p>
                                    <h5 class="mb-0" >info@demacimportexport.com</h5>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-phone-alt text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-2 text-primary">{% trans 'Bizi Arayın' %}</p>
                                    <h5 class="mb-0">+090 532 345 91 84</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Facts Start -->
    <div class="container-fluid facts my-5 p-5">
        <div class="row g-5">
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="text-center border p-5">
                    <i class="fa fa-certificate fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">30</h1>
                    <span class="fs-5 fw-semi-bold text-white">{% trans 'Yıllık Deneyim' %}</span>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center border p-5">
                    <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">135</h1>
                    <span class="fs-5 fw-semi-bold text-white">{% trans 'Takım Arkadaşı' %}</span>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="text-center border p-5">
                    <i class="fa fa-users fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">957</h1>
                    <span class="fs-5 fw-semi-bold text-white">{% trans 'Mutlu Müşteri' %}</span>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="text-center border p-5">
                    <i class="fa fa-check-double fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">1839</h1>
                    <span class="fs-5 fw-semi-bold text-white">{% trans 'Bitirilmiş Proje' %}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->

    <!-- Video Modal Start
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
     Video Modal End -->
        

    <!-- Footer Start -->
    {% include 'main/partials/_footer.html' %}
    <!-- Footer End -->
</body>

</html>