{% load static %}
{% load i18n %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Demac</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    {% include 'main/partials/_libaries.html'%}
    <style>
        /* Reklam Stilleri */
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* Arka plan rengi ve opaklık */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999; /* En üstte göster */
        }

        .ad {
            max-width: 80%; /* Reklamın genişliği */
            max-height: 80%; /* Reklamın yüksekliği */
        }

        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    {% include 'main/partials/_topbar.html' %}
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    {% include 'main/partials/_navbar.html'%}
    <!-- Navbar End -->

    <!-- Carousel Start -->

    <div class="overlay">
        <!-- Kapatma Butonu -->
        <span class="close-btn" onclick="closeAd()">&times;</span>
        <!-- Reklam Resmi -->
        <img class="ad" src="{% static 'img/reklam.png' %}">
    </div>

<script>
    // Reklamı kapatma fonksiyonu
    function closeAd() {
        document.querySelector('.overlay').style.display = 'none';
    }
</script>

    <div class="container px-5 mb-0">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="">
                    <img class="w-100" src="{% static 'img/arkaplan.jpeg' %}" alt="Image">
                </div>
            </div>
            
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row gx-3 h-100">
                        <div class="col-6 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                            <img class="img-fluid" src="{% static 'img/about-1.jpg' %}">
                        </div>
                        <div class="col-6 align-self-end wow fadeInDown" data-wow-delay="0.1s">
                            <img class="img-fluid" src="{% static 'img/about-2.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="fw-medium text-uppercase text-primary mb-2">Hakkımızda</p>
                    <h1 class="display-5 mb-4">Demac Markası: Yenilikçi ve Müşteri Memnuniyetine Verdiği Önemle Öne Çıkıyor.</h1>
                    <p class="mb-4 text-primary">Yenilikçi ve müşteri memnuniyetini esas alan bir şirket politikasına sahip olan Demac Markası, yeni üretime başlayan düz örgü makineleri ile sektörde büyük bir fark yaratıyor. Kendisini sürekli olarak geliştiren ve yenilikçi çözümler sunan Demac, müşterilerinin ihtiyaçlarını anlamak ve onlara en iyi hizmeti sunmak adına sürekli olarak araştırma ve geliştirme faaliyetlerine ağırlık vermektedir.</p>
                    <p class="mb-4 text-primary">Demac Markası, yenilikçilik ve teknolojik gelişmeleri yakından takip eden profesyonel bir ekibi bünyesinde barındırmaktadır. Bu sayede, sektördeki son trendleri belirleyen ve en güncel çözümleri sunan bir marka haline gelmiştir. Yaptığı araştırmalar ve müşteri geri bildirimleri doğrultusunda üretim süreçlerini sürekli olarak iyileştiren Demac, müşteri memnuniyetini en üst seviyede tutmaktadır.</p>
                    <p class="mb-4 text-primary">Müşteri memnuniyetini esas alan bir şirket politikasına sahip olan Demac Markası, müşterilerinin ihtiyaçlarını karşılamak adına özelleştirilmiş çözümler sunmaktadır. Her müşteriye özel çözümler üretmek adına, müşteriyle yakın işbirliği içerisinde çalışan Demac, her adımda müşteri ihtiyaçlarını gözetmekte ve onlara en iyi hizmeti sunmaktadır.</p>
                    <p class="mb-4 text-primary">Sadece ürünlerde değil, aynı zamanda satış sonrası hizmetlerde de müşteri memnuniyetini ön planda tutan Demac, yüksek kaliteli servis hizmetleriyle müşterilerinin yanında olmaktadır. Yetenekli ve deneyimli servis ekibiyle, her türlü teknik sorunu hızlı bir şekilde çözen Demac, müşterilerinin işlerini aksatmadan devam ettirmelerini sağlamaktadır.</p>
                    <p class="mb-4 text-primary">Demac Markası, yenilikçi vizyonu ve müşteri memnuniyetine verdikleri önemle sektörde öncü bir konumda yer almaktadır. Sürekli olarak gelişme ve yenilik yapma misyonuyla hareket eden Demac, müşterilerine en iyi hizmeti sunmak adına çalışmalarını sürdürmektedir. Yenilikçi çözümleriyle sektöre yön veren Demac Markası, müşteri memnuniyetini her zaman en üst seviyede tutmayı hedeflemektedir.</p>
                    <div class="d-flex align-items-center mb-4">
                        <div class="flex-shrink-0 bg-primary p-4">
                            <h1 class="display-2">30</h1>
                            <h5 class="text-white">Yıllık</h5>
                            <h5 class="text-white">Deneyim</h5>
                        </div>
                        <div class="ms-4">
                            <p class="text-primary"><i class="fa fa-check text-primary me-2"></i>Power & Energy</p>
                            <p class="text-primary"><i class="fa fa-check text-primary me-2"></i>Civil Engineering</p>
                            <p class="text-primary"><i class="fa fa-check text-primary me-2"></i>Chemical Engineering</p>
                            <p class="text-primary"><i class="fa fa-check text-primary me-2"></i>Mechanical Engineering</p>
                            <p class="mb-0 text-primary"><i class="fa fa-check text-primary me-2"></i>Oil & Gas Engineering</p>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-envelope-open text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-2 text-primary">Mail Gönderin</p>
                                    <h5 class="mb-0" >info@demacimportexport.com</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-phone-alt text-white"></i>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-2 text-primary">Bizi Arayın</p>
                                    <h5 class="mb-0">+0212 345 6789</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="display-5 mb-4">Makine Modellerimiz</h1>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/makinefotoornek.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/fabric.png' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Düz Örgü Makinesi</h3>
                                <hr class="w-25">
                            </div>
                        </div>
                        <a class="btn btn-light" href="">Devam</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/makinefotoornek.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/shoes.png' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Ayakkabı Makinesi</h3>
                                <hr class="w-25">
                            </div>
                        </div>
                        <a class="btn btn-light" href="">Detay</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item">
                        <img class="img-fluid" src="{% static 'img/makinefotoornek.jpg' %}" alt="">
                        <div class="service-img">
                            <img class="img-fluid" src="{% static 'img/collar.png' %}" alt="">
                        </div>
                        <div class="service-detail">
                            <div class="service-title">
                                <hr class="w-25">
                                <h3 class="mb-0">Yaka Makinesi</h3>
                                <hr class="w-25">
                            </div>
                        </div>
                        <a class="btn" href="">Devam</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

-->
    <br><br>
    <div class="wow fadeInUp" style="justify-content: center; align-items: center; text-align: center; margin-top: 30px;" data-wow-delay="0.5s"><h1 class="heading" style="color: #004e90;;">{% trans 'Ürünlerimiz' %}</h1></div><br><br>
    <br><br>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-3" style="justify-content: center;">
                {% for products in product  %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">
                            <div class="team-img position-relative overflow-hidden">
                                <img class="img-fluid" src="{{ products.photo.url }}" alt="">
                                <div class="team-social">
                                    <a class="btn btn-square" href=""><i class="bi bi-info-circle-fill"></i></a>
                                </div>
                            </div>
                            <div class="bg-secondary text-center p-4">
                                <p style="color:black; font-style: italic;">{{ products.category.all|join:',' }}</p>
                                <h5 >{{ products.product_name }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Facts Start -->
    <div class="container-fluid facts my-5 p-5">
        <div class="row g-5">
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="text-center border p-5">
                    <i class="fa fa-certificate fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">30</h1>
                    <span class="fs-5 fw-semi-bold text-white">{% trans 'Yıllık Deneyim' %}</span>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="text-center border p-5">
                    <i class="fa fa-users-cog fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">135</h1>
                    <span class="fs-5 fw-semi-bold text-white">{% trans 'Takım Arkadaşı' %}</span>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="text-center border p-5">
                    <i class="fa fa-users fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">957</h1>
                    <span class="fs-5 fw-semi-bold text-white">{% trans 'Mutlu Müşteri' %}</span>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="text-center border p-5">
                    <i class="fa fa-check-double fa-3x text-white mb-3"></i>
                    <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">1839</h1>
                    <span class="fs-5 fw-semi-bold text-white">{% trans 'Bitirilmiş Proje' %}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->

    <!-- Footer Start -->
    {% include 'main/partials/_footer.html' %}
    <!-- Footer End -->
    

</body>

</html>